body{
    font-family: sans-serif;
}

.header{
    font-size: 6em;
    text-align: center;
}

.pokemon-card{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.5s;
}

.pokemon-card:hover {
    transform: scale(1.05);
    border: 1px solid dodgerblue;
    cursor: pointer;
}

.pokemon-card > img{
    height:auto;
    width:300px;
}

#container{
    display:flex;
    gap: 1%;
    justify-content: center;
}

#roster{
    display: flex;
    justify-content: center;
}

div[id^="pokemon-"]{
    height:100px;
    width:100px;
    border: 1px solid #ccc;
}

.roster-img {
    height: 80px;
    width: 80px;
}